<div class="wrapper">
  <div class="main-container">

    <!-- Logo, phone and FAQ bar -->
    <div class="container-logo-help">
      <div class="container-logo">
        <%= link_to root_path do %>
        <%= image_tag "SECURA logo-blue.png" %>
        <% end %>
      </div>

      <!-- Progress bar -->
      <div class="container-progress">
        <div id="rootwizard">
          <div id="bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
          </div>
        </div>
      </div>

      <div class="container-help">
        <p><i class="fas fa-phone"></i>     0176 700 166 02</p>
        <a data-toggle="modal" data-target="#exampleModalCenter">FAQ</a>
      </div>
    </div>
    
    <% def vds_logic
      if @request.building.vds_certification == "No"
        "You requested that you <b>did not</b> want to VdS certify your building.".html_safe
      else
        "You requested a <b>#{@request.building.vds_certification}</b> certificatoin on your building.".html_safe
      end
    end %>

    <% def e_r_logic
      if @request.building.emergency_response == "No"
        "You stated that you were <b>not</b> interested in emergency response system installed to your building.".html_safe
      else
        "You stated that you <b>did</b> want to install a emergency repsonse system to your building".html_safe
      end
    end %>

    <% def s_h_logic
      if @request.building.security_hull == "No"
        "You also stated that you were <b>not</b> interested in having your alarm system active whilst in your home.".html_safe
      else
        "You also stated that you <b>were</b> interested in having your alarm system actice whilst in your home.".html_safe
      end
    end %>
    

    <div class="container-content-offer">
      <div class="container-price-recap">
        <h2><%= @quote.supplier_name %></h2>
        <h6><b>Thank you for trusting us, <%= @user.email %></b><br>
          <br>
        You have requested the following security provisions on your <b><%= @request.building.object_type %></b>. <%= vds_logic %> <%= e_r_logic %> <%= s_h_logic %>
        <%= e_r_logic %> Your current request has <b><%= @request.building.floors.count %></b> floor(s). <br>
          <% @request.building.floors.each do |floor| %>
              <b><li><%= floor.floor_type %>,</li></b>
              <li> with <b><%= floor.windows %></b> windows, </li>
              <li><b><%= floor.rooms %></b> rooms, </li>
              <li><b><%= floor.doors %></b> doors, </li>
              <li>and <b><%= floor.windows_and_doors_sensor %></b> sensors for each of those windows and doors.</li>
          <% end %>


<!--           <li>Your range estimate came to <%= @request.price_min %> to <%= @request.price_max %>.</li> -->
        </ul>


      </div>
      <div class="container-offer-pay">
        <!-- <h6><b>Thank you for trusting us, <%= @user.email %></b>,<%= @quote.supplier_name %> has an offer to secure your <%= @request.building.object_type %> for </h4><br> -->

        <!-- <h4>Based on your request our trusted partner <%= @quote.supplier_name %> has an offer to secure your <%= @request.building.object_type %> for </h4><br> -->

        <div id="price"><%= humanized_money_with_symbol(@quote.price) %></div>


        <%= simple_form_for [@quote, @booking] do |f| %>
        <b><%= f.input :date, as: :string, input_html: { class: 'datedropper' } %></b>
        <%= f.submit "Confirm", input_html: { class: 'btn' } %>
        <% end %>






<!--         <h6><br>Contact them at: <br><%= @quote.supplier_name %></h6>
 -->        <!-- <h6>Address: <br><%= @quote.supplier_address %><br>
        Phone: <br><%= @quote.phone_number %></h6> -->
<!--       </div>
      <div class="container-offer-btn"> -->

      </div>
    </div>

  </div>
</div>
