<!-- Price estimate  -->
<div class="container-content-buildings-page animated" id="card-building-new">
  <div class="container-form-content-building">
    <div class="container-price-estimate">
    </div>
  </div>

  <div class="form-heading-buildings-page">
    <h2>What would you like to secure?</h2>
  </div>

  <!-- Radio buttons -->
  <div class="form-icons-buildings-page">
    <%= simple_form_for [request, building], validate: true, remote: true do |b| %>
    <label class="form-icon-house">
      <input type="radio" name="building[object_type]" value="house">
      <img src="<%= image_url('house.png') %>" alt="house">
      <p class="icon-text-house">House</p>
    </label>

    <label class="form-icon-apartment">
      <input type="radio" name="building[object_type]" value="apartment" />
      <img src="<%= image_url('apartment.png') %>" alt="apartment">
      <p class="icon-text-apartment">Apartment</p>
    </label>

    <label class="form-icon-office">
      <input type="radio" name="building[object_type]" value="office" />
      <img src="<%= image_url('office.png') %>" alt="office">
      <p class="icon-text-office">Office</p>
    </label>
  </div>

  <!-- Insert email field -->
  <div class="form-give-us-email">
    <h6>To continue, please provide your email below</h6>

    <%= b.simple_fields_for :user do |u| %>
    <%= u.input :email, placeholder: "Your email", label_html: { class: 'white-email-label' } %>
    <% end %>
    <p>Your data will not be used by any third parties without your explicit consent. <br>Refer to our privacy policy <a data-toggle="modal" data-target="#exampleModalCenter">here</a>.</p>
  </div>

  <!-- Buttons back and next -->
  <div class="form-buttons-buildings-page">
    <a href="#" id="button-back">Back</a>
    <%= b.button :submit, "Next", class: "button-next", id: 'submit-building-new' %>
    <% end %>
  </div>
</div>
