<%= flash[:not_allowed] %>

<div class="banner">
  <div class="banner-content">
    <h1>Home security made easy</h1>
    <h2>Get five offers from our trusted partners in five easy steps
    </h2>

    <!-- Insert ZIP code field -->
    <div class="form-inline">
      <%= simple_form_for  @request do |f|%>
      <%= f.input :zip_code, as: :integer, placeholder: "Your ZIP code", label_html: { class: 'white-email-label' } %>
      <%= f.submit "Get Offers", :class => "btn" %>
      <% end %>
    </div>
  </div>

  <!-- STEPS -->
  <div class="steps-container">
    <div class="step">
      <%= image_tag "Number1.png", class: "number" %>
      <%= image_tag "Step1.png", class: "icon" %>
      <p>Fill in our form</p>
    </div>
    <div class="step">
      <%= image_tag "Number2.png", class: "number" %>
      <%= image_tag "Step2.png", class: "icon" %>
      <p>Receive 5 offers</p>
    </div>
    <div class="step">
      <%= image_tag "Number3.png", class: "number" %>
      <%= image_tag "Step3.png", class: "icon" %>
      <p>Choose a provider</p>
    </div>
    <div class="step">
      <%= image_tag "Number4.png", class: "number" %>
      <%= image_tag "Step4.png", class: "icon" %>
      <p>Installation</p>
    </div>
  </div>

</div>

<!-- ADVANTAGES CARDS -->
<div class="advantages">
  <div class="wrapper">
    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "piggy_bank.png", style: "height: 50px" %>
      </div>
      <div class="header-container">
        <h4>Fair & tailored offers</h4>
      </div>
      <div class="paragraph-container">
        <p>Fixed price offers prevent hidden costs. Every company is tested, insured & adheres to high standards.</p>
      </div>
    </div>
    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "Star_Rating.png", style: "height: 30px" %>
      </div>
      <div class="header-container">
        <h4>Transparent & comparable</h4>
      </div>
      <div class="paragraph-container">
        <p>Customer ratings & easily compareable offers make it easy to select the right company.</p>
      </div>
    </div>
    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "Head_phones.png", style: "height: 55px" %>
      </div>
      <div class="header-container">
        <h4>Independent experts</h4>
      </div>
      <div class="paragraph-container">
        <p>Free consultation with SECURA security experts.</p>
      </div>
    </div>
    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "burglar.png", style: "height: 60px" %>
      </div>
      <div class="header-container">
        <h4>Safe & anonymous</h4>
      </div>
      <div class="paragraph-container">
        <p>At SECURA we consult you remotely without knowing the address of your unprotected home. No home visits.</p>
      </div>
    </div>
    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "KFW_Logo.png", style: "height: 40px" %>
      </div>
      <div class="header-container">
        <h4>Government support</h4>
      </div>
      <div class="paragraph-container">
        <p>Private home owners can apply for subsidies of up to 20%.</p>
      </div>
    </div>
    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "shield.png", style: "height: 55px" %>
      </div>
      <div class="header-container">
        <h4>Houseowner Insurance</h4>
      </div>
      <div class="paragraph-container">
        <p>We offer you a unique insurance that insures your belongings at their original price.</p>
      </div>
    </div>
  </div>
</div>

<!-- TESTIMONIALS -->
<div class="wrapper-testimonials">
  <h3>Over 2.300 happy customers in Germany!</h3>

  <!-- CAROUSEL -->

  <div class="carousel">

    <div class="sliding-card">
      <%= image_tag "house1.jpg", class: "house-image" %>
      <%= image_tag "profile1.jpg", class: "avatar" %>
      <div class="info-box">
        <div class="info-box-top">
          <div class="personal-info">
            <p class="name">Hermann</p>
            <p class="city">Leipzig</p>
          </div>
          <div class="explanation">
            <span><em>We helped Hermann's family feel safe at night.</em></span>
            <%= image_tag "Star_Rating.png", class: "star-rating" %>
          </div>
        </div>
        <p>"Loved the shit out of this service. Will deliver 3/7 times. Fo rea tho. Puttin' a solid pinky swear on this shit."</p>
      </div>
    </div>

    <div class="sliding-card">
      <%= image_tag "house2.jpg", class: "house-image" %>
      <%= image_tag "profile2.jpg", class: "avatar" %>
      <div class="info-box">
        <div class="info-box-top">
          <div class="personal-info">
            <p class="name">Hermann</p>
            <p class="city">Leipzig</p>
          </div>
          <div class="explanation">
            <span><em>We helped Hermann's family feel safe at night.</em></span>
            <%= image_tag "Star_Rating.png", class: "star-rating" %>
          </div>
        </div>
        <p>"Loved the shit out of this service. Will deliver 3/7 times. Fo rea tho. Puttin' a solid pinky swear on this shit."</p>
      </div>
    </div>

    <div class="sliding-card">
      <%= image_tag "house3.jpg", class: "house-image" %>
      <%= image_tag "profile3.jpg", class: "avatar" %>
      <div class="info-box">
        <div class="info-box-top">
          <div class="personal-info">
            <p class="name">Hermann</p>
            <p class="city">Leipzig</p>
          </div>
          <div class="explanation">
            <span><em>We helped Hermann's family feel safe at night.</em></span>
            <%= image_tag "Star_Rating.png", class: "star-rating" %>
          </div>
        </div>
        <p>"Loved the shit out of this service. Will deliver 3/7 times. Fo rea tho. Puttin' a solid pinky swear on this shit."</p>
      </div>
    </div>

    <div class="sliding-card">
      <%= image_tag "house4.jpg", class: "house-image" %>
      <%= image_tag "profile4.jpg", class: "avatar" %>
      <div class="info-box">
        <div class="info-box-top">
          <div class="personal-info">
            <p class="name">Hermann</p>
            <p class="city">Leipzig</p>
          </div>
          <div class="explanation">
            <span><em>We helped Hermann's family feel safe at night.</em></span>
            <%= image_tag "Star_Rating.png", class: "star-rating" %>
          </div>
        </div>
        <p>"Loved the shit out of this service. Will deliver 3/7 times. Fo rea tho. Puttin' a solid pinky swear on this shit."</p>
      </div>
    </div>

  </div>
</div>
  <!-- FOOTER -->
  <footer>
    <div class="wrapper-links">

      <ul class="column">
        <li class="title">SECURA</li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Why SECURA</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Jobs</a></li>
      </ul>

      <ul class="column">
        <li class="title">Alarm Systems</li>
        <li><a href="#">Purchase Advisor</a></li>
        <li><a href="#">Alarm Systems with Kids?</a></li>
        <li><a href="#">Alarm goes off...What now?</a></li>
      </ul>

      <ul class="column">
        <li class="title">Customer Service</li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="#">Data protection</a></li>
      </ul>

      <ul class="column">
        <li class="title">Payment Methods</li>
        <li><%= image_tag "vorkasse.png", style: "height: 35px" %></li>
        <li><%= image_tag "master_card.png", style: "height: 35px" %></li>
        <li><%= image_tag "visa.png", style: "height: 35px" %></li>
        <li>Invoice</li>
      </ul>

    </div>

    <div class="wrapper-bottom">
      <p>Copyright (c) 2018 Secura AG, all rights reserved</p>
      <p><a href="#">Login</a> in as a partner</p>
    </div>


  </footer>
