<%= flash[:not_allowed] %>

<!-- PAGE 1 - HOME -->

<div class="banner">
  <div class="banner-content">
    <h1>Home security made easy</h1>
    <h2>Get five offers from our trusted partners in five easy steps
    </h2>

    <!-- Insert ZIP code field -->
    <div class="form-inline">
      <%= simple_form_for  @request do |f|%>
      <%= f.input :zip_code, as: :integer, placeholder: "Your ZIP code", label_html: { class: 'white-email-label' } %>
      <%= f.submit "Get Offers", :class => "btn" %>
      <% end %>
    </div>
  </div>
</div>

<!-- ADVANTAGES CARDS -->

<div class="advantages">
  <div class="wrapper">

    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "piggy_bank.png", style: "height: 50px" %>
      </div>
      <div class="header-container">
        <h4>Fair & tailored offers</h4>
      </div>
      <div class="paragraph-container">
        <p>Fixed price offers prevent hidden costs. Every company is tested, insured & adheres to high standards.</p>
      </div>
    </div>

    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "Star_Rating.png", style: "height: 30px" %>
      </div>
      <div class="header-container">
        <h4>Transparent & compareable</h4>
      </div>
      <div class="paragraph-container">
        <p>Customer ratings & easily compareable offers make it easy to select the right company.</p>
      </div>
    </div>

    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "Head_phones.png", style: "height: 55px" %>
      </div>
      <div class="header-container">
        <h4>Independent experts</h4>
      </div>
      <div class="paragraph-container">
        <p>Free consultation with SECURA security experts.</p>
      </div>
    </div>

    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "burglar.png", style: "height: 60px" %>
      </div>
      <div class="header-container">
        <h4>Safe & anonymous</h4>
      </div>
      <div class="paragraph-container">
        <p>At SECURA we consult you remotely without knowing the address of your unprotected home. No home visits.</p>
      </div>
    </div>

    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "KFW_Logo.png", style: "height: 40px" %>
      </div>
      <div class="header-container">
        <h4>Government support</h4>
      </div>
      <div class="paragraph-container">
        <p>Private home owners can apply for subsidies of up to 20%.</p>
      </div>
    </div>

    <div class="advantage-card">
      <div class="image-container">
        <%= image_tag "shield.png", style: "height: 55px" %>
      </div>
      <div class="header-container">
        <h4>Houseowner Insurance</h4>
      </div>
      <div class="paragraph-container">
        <p>We offer you a unique insurance that insures your belongings at their original price.</p>
      </div>
    </div>

  </div>
</div>

<!-- FOOTER GOES HERE -->

<div class="wrapper-links">
  <div class="column">
    <h5>SECURA</h5>
    <p>About Us</p>
    <p>Why SECURA</p>
    <p>How it works</p>
    <p>Jobs</p>
  </div>
  <div class="column">
    <h5>Alarm Systems</h5>
    <p>Purchase Advisor</p>
    <p>Alarm Systems with Kids?</p>
    <p>Alarm goes off...What now?</p>
  </div>
  <div class="column">
    <h5>Customer Service</h5>
    <p>FAQ</p>
    <p>Contact</p>
    <p>Terms & Condition</p>
    <p>Data Protection</p>
  </div>
  <div class="column">
    <h5>Payment Methods</h5>
    <p><%= image_tag "vorkasse.png", style: "height: 35px" %></p>
    <p><%= image_tag "master_card.png", style: "height: 35px" %></p>
    <p><%= image_tag "visa.png", style: "height: 35px" %></p>
    <p>Invoice</p>
  </div>
</div>

<div class="wrapper-bottom">
    <p>Copyright (c) 2018 Secura AG, all rights reserved</p>
    <p>Login in as a partner</p>
</div>