<div class="wrapper">
  <div class="main-container">

    <div class="container-logo-help">
      <div class="container-logo">
        <img src="<%= image_url('SECURA logo-blue.png') %>" alt="logo">
      </div>
      <div class="container-help">
        <p>0176 700 166 02</p>
        <a href="#" target="_blank">FAQ</a>
      </div>
    </div>

    <div class="container-progress">
    </div>

    <div class="container-content">
      <div class="container-form-content">
        <div class="container-price-estimate">
          <h6>Your current price range estimate:</h6>
          <h3>1.900 - 3.100 €</h3>

        </div>
      </div>
      <div class="form-heading">
        <h2>What would you like to secure?</h2>
      </div>

      <div class="form-email">
        <h6>To continue, please provide your email below</h6>

        <%= simple_form_for [@request, @building] do |b| %>
        <%# b.input :object_type, collection: ['House', "Apartment", 'Office'], as: :radio_buttons %>
          <label>
            <input type="radio" name="building[object_type]" value="house">
            <img src="<%= image_url('house.png') %>" alt="house">
          </label>

          <label>
            <input type="radio" name="building[object_type]" value="apartment" />
            <img src="<%= image_url('apartment.png') %>" alt="apartment">
          </label>

          <label>
            <input type="radio" name="building[object_type]" value="office" />
            <img src="<%= image_url('office.png') %>" alt="office">
          </label>

        <%= b.simple_fields_for :user do |u| %>
        <%= u.input :email %>
        <% end %>
        <p>Your data will not be used by any third parties without your explicit consent. Refer to our privacy policy <a href="#" target="_blank">here</a>.</p>
        <div class="form-buttons">
          <a href="#" id="button-back">Back</a>
          <%= b.button :submit, id: "button-next" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright © 2018 by Secura AG, all rights reserved</p>
    </div>

  </div>

</div>
