<!-- PAGE 3 - FORM Floors -->

<div class="wrapper">
  <div class="main-container">

    <!-- Logo, phone and FAQ bar -->
    <div class="container-logo-help">
      <div class="container-logo">
        <%= link_to root_path do %>
        <%= image_tag "SECURA logo-blue.png" %>
        <% end %>
      </div>
      <div class="container-help">
        <p><i class="fas fa-phone"></i>     0176 700 166 02</p>
        <a data-toggle="modal" data-target="#exampleModalCenter">FAQ</a>
      </div>
    </div>

    <!-- Progress bar -->
    <div class="container-progress">
      <div id="rootwizard">
        <div id="bar" class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          </div>
        </div>
      </div>
    </div>

    <!-- Price estimate  -->
    <div class="container-content">
      <div class="container-form-content-floor">
        <div class="container-price-estimate">
<!--           <h6>Your current price range estimate:</h6>
          <h3>1.900 - 3.100 €</h3>
 -->        </div>
      </div>

      <div class="form-heading">
        <h2>Which floors of your house would you like to secure?</h2>
      </div>


    <!-- Form content  -->
      <div class="form-on-every-page">

        <%= simple_form_for [@building, @floor] do |f| %>
          <%= f.input :floor_type, collection: ["Basement", "Ground floor", "1st floor", "2nd floor", "3rd floor", "4th floor", "Attic"], as: :check_boxes %>

          <a href="#" id="button-back">Back</a>
          <%= f.button :submit, "Next", id: "button-next" %>
        <% end %>

    </div>
  </div>

  <div class="copyright">
    <p>Copyright © 2018 by Secura AG, all rights reserved</p>
  </div>

</div>
</div>



<!-- Modal -->



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle"><strong>FAQ</strong></h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
 --><!--           <span aria-hidden="true">&times;</span>
</button> -->
</div>
<div class="modal-body">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cupiditate autem corrupti sequi, dolor a dignissimos dolores repellat, placeat atque nam voluptatibus quod in doloribus pariatur ratione tempora velit, illum.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

