<!-- PAGE 13 - Payment confirmation -->


<div class="wrapper">
  <div class="main-container">

    <!-- Logo, phone and FAQ bar -->
    <div class="container-logo-help">
      <div class="container-logo">
        <%= link_to root_path do %>
        <%= image_tag "secura-logo-blue.png" %>
        <% end %>
      </div>

      <!-- Progress bar -->
      <div class="container-progress">
        <div id="rootwizard">
          <div id="bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
          </div>
        </div>
      </div>

      <div class="container-help">
        <p><i class="fas fa-phone"></i>     0176 700 166 02</p>
        <a data-toggle="modal" data-target="#exampleModalCenter">FAQ</a>
      </div>
    </div>




    <div class="container-content-offer">
      <div class="container-price-recap-payment">
      </div>
      <div class="container-offer-pay-confirmation">

        <%= form_tag quote_booking_payments_path(@booking.quote, @booking), id: 'stripe-form' do %>
          <article>
            <label class="amount">

        <span>Booked Date: <%= time_tag @booking.date %></span></br>

        <span>Quote Total: <%= humanized_money_with_symbol(@booking.quote.price) %></span></br>
              <span>Amount Due Today (20%): <%= humanized_money_with_symbol(@booking.amount) %></span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My Order"
              data-email="<%= @booking.quote.request.user.email %>"
              data-description="<%= @booking.quote.supplier_name %>"
              data-amount="<%= @booking.amount_cents %>"
              data-currency="<%= @booking.amount.currency %>">
          </script>

        <% end %>


      </div>
    </div>

  </div>
</div>

<%= content_for :after_js do %>
  <script>
    var stripeBtn = document.querySelector('.stripe-button-el')
    stripeBtn.style.display = 'none'

    var stripeForm = document.getElementById('stripe-form')
    var newBtn = '<button id="pay-btn">PAY NOW</button>'
    stripeForm.insertAdjacentHTML('beforeend', newBtn)
  </script>
<% end %>
