<!-- PAGE 5 - FORM doors -->

<div class="wrapper">
  <div class="main-container">

    <!-- Logo, phone and FAQ bar -->
    <div class="container-logo-help">
      <div class="container-logo">
        <%= link_to root_path do %>
        <%= image_tag "SECURA logo-blue.png" %>
        <% end %>
      </div>

      <!-- Progress bar -->
      <div class="container-progress">
        <div id="rootwizard">
          <div id="bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
          </div>
        </div>
      </div>

      <div class="container-help">
        <p><i class="fas fa-phone"></i>     0176 700 166 02</p>
        <a data-toggle="modal" data-target="#exampleModalCenter">FAQ</a>
      </div>
    </div>

    <!-- Price estimate  -->
    <div class="container-content">
      <div class="container-form-content-door">
        <div class="container-price-estimate">
<<<<<<< HEAD
          <h6></h6>
          <h3></h3>
=======
>>>>>>> 4ee1d0dced04758a4b06b46feb8bc5aac1d39dd9
        </div>
      </div>

      <div class="form-heading">
        <h2>How many doors leading outside do you have on this floor?</h2>
      </div>


      <!-- Form content  -->
      <div class="form-on-every-page">

        <%= form_tag building_doors_create_path(@building) do %>
        <% @floors.each do |floor| %>
        <%= fields_for 'floors[]', floor do |p| %>
        <div class="field">
          <%= p.label floor.floor_type %><br>
          <%= p.text_field :doors %>
        </div>
        <% end %>
        <% end %>
      </div>

      <div class="form-buttons-on-every-page">
        <a href="#" id="button-back">Back</a>
        <input name="commit" type="submit" value="Next" id="button-next" />
      </div>
      <% end %>
    </div>

  </div>

<!--   <div class="copyright">
    <p>Copyright © 2018 by Secura AG, all rights reserved</p>
  </div> -->

</div>
</div>



<!-- Modal -->



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle"><strong>FAQ</strong></h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
 --><!--           <span aria-hidden="true">&times;</span>
</button> -->
</div>
<div class="modal-body">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cupiditate autem corrupti sequi, dolor a dignissimos dolores repellat, placeat atque nam voluptatibus quod in doloribus pariatur ratione tempora velit, illum.
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>


