<!-- PAGE 5 - FORM doors -->

<h2>How many doors leading outside do you have on this floor?</h2>

<%= form_tag building_doors_create_path(@building) do %>
  <% @floors.each do |floor| %>
    <%= fields_for 'floors[]', floor do |p| %>
      <div class="field">
        <%= p.label floor.floor_type %><br>
        <%= p.text_field :doors %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <a href="#" id="button-back">Back</a>
    <!-- <%= submit_tag %>-->
    <input name="commit" type="submit" value="Next" id="button-next" />
  </div>
<% end %>
